.comment-form{
  display: flex;
  margin: 20px 0;
}
}

.comment-text{
  display: block;
}

.comment-submit{
  display: block;
  margin-top: 20px;
}

.comment{
  display: flex;
}

.comment p{
   margin: 10px;
}
.user-info{
  color: gray;
  font-weight: bold;
}